<h1 id="tableLabel">Counter</h1>

<p *ngIf="!dataSource"><em>Loading... Please wait</em></p>


<!-- Search field -->
<div class="search ml-2 mt-3">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" placeholder='Search'>
  </mat-form-field>
</div>

<!-- Pagination,  with 20 items as default value -->
<mat-paginator #paginator [pageSizeOptions]="[20, 10, 5, 25]" showFirstLastButtons></mat-paginator>

<!-- Table with the newest stories -->
<mat-table [dataSource]="dataSource" class="table">

  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef class="headerauthor">Author</mat-header-cell>
    <mat-cell *matCellDef="let news">{{news.By}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="headertitle">Title</mat-header-cell>
    <mat-cell *matCellDef="let news">{{news.Title}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef class="headerlink">Link</mat-header-cell>
    <mat-cell *matCellDef="let news">
      <div *ngIf="news.Url === null">No Link available!</div>
      <a href="{{news.Url}}">{{news.Url}}</a>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="displayedColumns" class="table-success"></mat-header-row>
  <mat-row *matRowDef="let row; columns:displayedColumns;"></mat-row>
</mat-table>

