<h1>News</h1>

<p *ngIf="!dataSource">
  <em>Loading... Please wait</em>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</p>



<!-- Search field -->
<div class="search ml-2 mt-3">
  <mat-form-field>
    <input matInput type="text" (keyup)="doFilter($event.target.value)" [(ngModel)]="searchValue" placeholder='Search'>
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>
</div>

<!-- Pagination  -->
<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20, 25]"
               showFirstLastButtons
               [pageIndex]="pageIndex"
               [pageSize]="pageSize"
               [length]="length"
               (page)="pageEvent($event)"
               ></mat-paginator>

<!-- Table with the newest stories -->
<mat-table [dataSource]="dataSource" class="table">
  <ng-container matColumnDef="author">
    <mat-header-cell *matHeaderCellDef class="headerauthor">Author</mat-header-cell>
    <mat-cell *matCellDef="let news">
      {{news.By}}
      <div *ngIf="news.By === undefined">No Author available!</div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="date">
    <mat-header-cell *matHeaderCellDef class="headerdate">Date</mat-header-cell>
    <mat-cell *matCellDef="let news">
      {{news.Time * 1000 | date:'dd/MM/yyyy'}}
      <div *ngIf="news.Time === undefined">No Date available!</div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="title">
    <mat-header-cell *matHeaderCellDef class="headertitle">Title</mat-header-cell>
    <mat-cell *matCellDef="let news">
      {{news.Title}}
      <div *ngIf="news.Title === undefined">No Title available!</div>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="url">
    <mat-header-cell *matHeaderCellDef class="headerlink">Link</mat-header-cell>
    <mat-cell *matCellDef="let news">
      <div *ngIf="news.Url === undefined">No Link available!</div>
      <a href="{{news.Url}}">{{news.Url}}</a>
    </mat-cell>
  </ng-container>
  <mat-header-row id="row" *matHeaderRowDef="displayedColumns" class="table-success"></mat-header-row>
  <mat-row id="row" *matRowDef="let row; columns:displayedColumns;"></mat-row>
</mat-table>

